@model Networking312190796_318855038.Models.Users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 60px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
     .p2 {
            font: italic small-caps bold 16px/2 cursive;
        }
          .p3 {
            font: italic small-caps bold 16px/2 cursive;
            font-size: 30px;
        }
          .button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    font: italic small-caps bold 16px/2 cursive;
}
    </style>
</head>
<body style="background-image: url('https://i2.wp.com/maryfarmarpta.org/wp-content/uploads/2019/03/popcorn1.jpg?resize=600%2C559&ssl=1'); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">

    <div class="row">
        <div class="col-75">
            <div class="container">
                <p class="p3"> Sign Up</p>
                <p class="p2"> Please fill your details to create an account</p>
                <p class="p2"> @Session["Result"]</p>
                @using (Html.BeginForm("Submit", "Users", FormMethod.Post))
                {
                    <b>first Name</b>
                    <br>
                    @Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(x => x.FirstName)
                    <br>
                    <b>Last Name</b>
                    <br>
                    @Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(x => x.LastName)
                    <br>
                    <b>ID</b>
                    <br>
                    @Html.TextBoxFor(m => m.ID) @Html.ValidationMessageFor(x => x.ID)
                    <br>
                    <b>password</b>
                    <br>
                    @Html.TextBoxFor(m => m.password) @Html.ValidationMessageFor(x => x.password)
                    <br>
                    <b>Email</b>
                    <br>
                    @Html.TextBoxFor(m => m.email) @Html.ValidationMessageFor(x => x.email)
                    <br>
                    <input id="Submit1" type="submit" value="SIGN ME UP" class="button" />
                }
            </div>
        </div>
    </div>

</body>
</html>